<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel='stylesheet' href='/static/login.css'>
    </head>
    <body>
        <div class='hero'>
            
            <div class='box'>
                <h1>Welcome Back!</h1>
                <form method='post' action='/'>
                    <div class='fmip'>
                        <label>Username</label>
                        <input type='text' name='adminname' required>
                    </div>
                    <div class='fmip'>
                        <label>Password</label>
                        <input type='password' name='adminpassword' required>
                    </div>
                    <div class='fmip'>
                        <button type='submit'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>